#INDEX {
  background-color: rgba(0, 0, 15, 0.55);
  background-image: url("img/opere/TheNightmare_Fuseli.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
}


body {
  margin: 0;
  color: #d9d9d9;
  background-color: #272624;
}

* {
	box-sizing:border-box
}

h1 {
  font-size: 45px;
}

a {
  text-decoration: none;
  color: #d9d9d9;
}

a:hover {
  text-decoration-line: underline;
}


/* NAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBARNAVBAR */

header {
  padding: 20px;
  background-color: #272624;
}

.breadcrumbs {
  background-color: #272624;
  margin: 0;
  padding: 20px 0 10px 0;
}

.breadcrumbs p {
  margin: 0;
  font-size: 15px;
  color: #d9d9d9;
  background-color: #272624;
  margin-left: 3%;
  word-spacing: 5px;
}

.breadcrumbs a {
  text-decoration-line: none;
  color: #d9d9d9;
}

.breadcrumbs a.active {
  text-decoration-line: underline;
}

nav {
  overflow: hidden;
  background-color: green;
  width: 100%;
 
}

nav a {
  float: left;
  font-size: 22px;
  color: #272624;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  background-color: #d9d9d9;
  width: 23.5%;
}

.nav_home {
  width: 6%;
}

nav .dropdown1 {
  float: left;
  overflow: hidden;
  width: 23.5%;
}

.dropbtnProgetto {
  cursor: pointer;
  font-size: 22px;  
  border: none;
  outline: none;
  color: #272624;
  padding: 20px 0;
  background-color: #d9d9d9;
  font-family: inherit;
  margin: 0;
  width: 100%;
}

nav a:hover, nav .dropbtnProgetto:hover {
  background-color: #272624;
  color: #e6e4de;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  z-index: 3;
  width: inherit;
}

.dropdown-content1 a {
  	float: none;
  	color: #272624;
	background-color: #e6e4de;
  	padding: 12px 0;
  	text-decoration: none;
  	display: block;
  	text-align: center;
  	width: 100%;
}

.dropdown-content1 a:hover {
   background-color: #272624;
  color: #e6e4de;
}

.show {
  display: block;
}

/* FOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTER */

footer {
  width: 100%;
  float: left;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 15, 1));
}

footer .separatore {
  width: 100%;
  height: 60px;
  box-shadow: 8px 0px 14px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

footer .contenuti {
  padding: 20px 0 60px 0;
}

footer .contenuti hr {
  width: 90%;
}

footer .contenuti table {
  width: 80%;
  margin: auto;
}

footer .contenuti table td {
 padding: 20px 0;
 font-size: 20px;
}

footer .contenuti table td a {
 text-decoration: none;
 color: inherit;
}

footer .contenuti table td a:hover {
 text-decoration-line: underline;
}


/* SLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOMESLIDESHOWHOME */

.indexSlideshow-container {
  display: block;
  width: 100%;
  float: left;
}

.indexSlides {
  display: none;
  width: 100%;
}

.indexSlides div, .indexSlides img {
  float: left;
}

.indexSlides .indexTrailer {
  width: 30%;
}

.indexTrailer h1 {
  margin: 0 50px;
  font-size: 45px;
}

.indexTrailer p {
  margin: 20px 50px;
  font-size: 25px;
}

.indexSlides .pictureSpecifiche {
  width: 10%;
}

.indexSlides .pictureSpecifiche p {
  text-align: right;
  margin: 410px 15px 0 0;
}


.indexSlides img {
  width: 60%;
  height: 550px;
  object-fit: cover;
}

/* Caption text */
.indexSlides .pictureSpecifiche {
  font-size: 15px;
}

.indexSlideshow-dots  {
  float: right;
  margin: 30px 60px;
}

/* The dots/bullets/indicators */
.indexSlideshow-dots .dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.pictureSpecifiche {font-size: 11px}
}

/* CAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEXCAPITOLIINDEX */

.capitolo_index {
  width: 100%;
  float: left;
}

.capitolo_index h2 {
  font-size: 30px;
  margin: 20px 50px;
}

.capitolo_index p {
  font-size: 20px;
}

.capitolo_index.timeline {
  margin: 30px 0 20px 0;
}

.capitolo_index.timeline iframe {
  float: left;
}

.capitolo_index.timeline div {
  display: block;
  width: 40%;
  float: left;
}

.capitolo_index.timeline div p {
  margin: 0 200px 0 50px;
  text-align: left;
}

.capitolo_index.mappa div p {
  margin-left: 50px;
}

.capitolo_index, .indexSlideshow-container {
  background-color: rgba(0, 0, 15, 0.50);
  margin: 60px 0;
  padding: 20px 0;
  box-shadow: 8px 0px 14px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.indexSlideshow-container {
  margin-top: 0;
}

/* MAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAPMAP */

#map {
  width: 100%;
  height: 700px;
}

#minimap {
  width: 50%;
  height: 500px;
  float: right;
}


/* RACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTARACCOLTA */

#hrRaccolta {
  width: 80%;
}

#titoloRaccolta {
  margin: 20px auto;
  text-align: center;
  background-color: #272624;
}

.box_vetrina {
  width: 93%;
  height: 550px;
  margin: auto;
  background-color: #d9d9d9;
  color: #272624;
}

.box_vetrina h2 {
  color: #272624;
  font-size: 30px;
  height: 7%;
}

.vetrina {
  width: 100%;
  height: 93%;
  background-color: #d9d9d9;
  display: flex;
  padding: 0px;
  list-style: none;
  overflow: scroll hidden;
}

.vetrina .item {
  background-color: black;
  height: 80%; 
  width: 18%;
  margin: auto;
  transition: 0.5s;
}

.vetrina .item img {
  background-color: blue;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  opacity: 0.5;
  transition: 0.3s ease;
}

.vetrina .item.a img {
  object-position: left;
}

.vetrina .item.b img {
  object-position: initial;
}

.vetrina .item.d img {
  object-position: 80%;
}

.vetrina .item a {
  position: relative;
  bottom: 40%;
  font-size: 25px;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.5s ease;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.vetrina .item:hover img {
  opacity: 0.7;
}

.vetrina .item:hover a {
  bottom: 90%;
}

.catalogoContainer {
  margin-top: 80px;
}

.catalogoContainer .tools {
  width: 100%;
  padding: 40px 0 20px 0;
}

#staDentro {
  position: sticky;
  top: 22%;
  left: 0;
  display: none;
  float: left;
  background-color: #d9d9d9;
  width: 75%;
  padding: 50px 0 0 0;
  z-index: 1;
  width: 15%;
  margin-top: 15px;
  transition: 0.5s ease;
}

#staFuori {
  position: sticky;
  top: 22%;
  left: 0;
  background-color: #d9d9d9;
  float: left;
  z-index: 1;
  margin-top: 15px;
  transition: 0.5s ease;
  padding: 0 25px 0 25px;
  border-radius: 0 100% 100% 0;
}

#staDentro a {
  text-decoration: none;
  font-size: 25px;
  color: #272624;
  display: block;
  transition: 0.3s;
  padding: 15px 30px;
  border: solid;
}

#staDentro a:hover {
  color: #d9d9d9;
  display: block;
  transition: 0.3s;
  background-color: #272624;
  
}

#staFuori span {
  font-size: 35px;
  cursor: pointer;
  color: #272624;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.search-container {
  width: 20%;
  float: right;
  position: relative;
}

.search-container form input{
  font-size: 20px;
  background-color: #d9d9d9;
  color: #272624;
  box-shadow: 0px 3px 5px 0px black;
}

.search-container form button {
  margin: 0;
  font-size: 20px;
  border: none;
  background-color: #d9d9d9;
  color: #272624;
  box-shadow: 0px 3px 5px 0px black;
  cursor: pointer;
  transition: 0.3s;
}

.search-container form button:hover {
  background-color: #272624;
  color: #d9d9d9;
}

#InOrdine {
  position: relative;
  display: inline-block;
  width: 15%;
  float: right;
}

#InOrdineBottone {
  font-size: 20px;
  padding: 5px 20px;
  border: none;
  background-color: #d9d9d9;
  color: #272624;
  box-shadow: 0px 3px 5px 0px black;
  cursor: pointer;
  transition: 0.3s;
}

#InOrdineBottone:hover, #InOrdineBottone:focus {
  background-color: #272624;
  color: #d9d9d9;
}

#InOrdineContenuto {
  display: none;
  position: absolute;
  background-color: #272624;
  color: #d9d9d9;
  z-index: 2;
}

.show {
  display: block;
}

#galleriaContainer {
  margin-top: 20px;
 transition: margin-left .5s;
 width: 100%;
}

.galleriaRow {
  display: flex;
  flex-wrap: wrap;
}

.galleriaColumn {
  flex: 33%;
  max-width: 33%;
}

.galleriaColumn img {
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .galleriaColumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .galleriaColumn {
    flex: 100%;
    max-width: 100%;
  }
}

.galleriaBox {
    width: 90%;
    margin: 15% auto;
    background-color: #d9d9d9;
    color: #111;
    border-radius: 20px 20px 5px 5px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 20px 20px 10px black;
  }

.galleriaBox a {
    text-decoration: none;
    color: black;
  }

.galleriaBox img {
    border-radius: 20px 20px 0 0;
    transition: 0.2s ease;
  }

  .galleriaBox .presentazione h1 {
    margin: 2px 0 0 10px;
    text-decoration: underline;
    text-decoration: none;
  }

  .galleriaBox .presentazione p {
    margin: 2px 10px 0 10px;
    padding: 15px 0;
    text-decoration: none;
  }

.galleriaBox:hover {
    width: 95%;
    margin: 15% auto;
    background-color: #d9d9d9;
    color: #111;
    cursor: pointer;
  }

.galleriaBox:hover img {
    border-radius: 0;
}


/* ITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEMITEM */


#ITEM .Item_copertina {
    width: 100%;
    position: relative;
}

#ITEM .Item_copertina img {
    width: 100%;
    min-width: 50%;
    will-change: width;
}

#ITEM .item_corpo {
  width: 100%;
  float: left;
  margin-top: 30px;
}

#ITEM .item_corpo .testo {
  display: block;
  width: 40%;
  float: left;
}

#ITEM h1 {
    text-align: center;
    margin: 30px;
    float: left;
    width: 100%;
}

#ITEM .item_corpo .testo .descrizione {
  display: block;
  width: 100%;
  text-align: left;
  padding: 60px;
  font-size: 25px;
}


#ITEM .item_corpo .immagine2 {
  position: sticky;
  top: 100px;
  display: flex;
  width: 60%;
  float: left;
}

#ITEM .item_corpo .immagine2 img {
  width: 70%;
  float: right;
}

#ITEM .item_corpo .immagine2 table {
  width: 30%;
  float: left;
  margin: auto;
  align-self: center;
}

#ITEM .item_corpo .immagine2 table td {
  padding: 20px 5px;
  border-bottom: 1px black;
}

/* PROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTOPROGETTO */

#WPP h1 {
  text-align: center;
}

#WPP h2 {
  text-decoration: underline;
}

#WPP .corpo {
  width: 100%;
  font-size: 25px;
  display: table;
  background-color: #d9d9d9;
}

#WPP .corpo .tesi {
  width: 80%;
  margin: 0;
  float: left;
  padding: 0px 70px;
  background-color: #272624;
}

#WPP .corpo .tesi div {
  width: 100%;
}

#WPP .corpo .tesi div div {
  display: table;
}

#C3_1 img {
  width: 50%;
  float: left;
  position: sticky;
  top: 20%;
}

#C3_1 p {
  width: 50%;
  float: left;
}

#C3_2 img {
  width: 60%;
  float: right;
  position: sticky;
  top: 20%;
}

#C3_2 p {
  width: 40%;
  float: left;
}

#C4_1 img {
  width: 35%;
  float: left;
  position: sticky;
  top: 0;
}

#C4_1 p {
  width: 65%;
  float: left;
  padding: 0 30px;
}

#C4_2 img {
  width: 35%;
  float: left;
  position: sticky;
  top: 0;
}

#C4_2 p {
  width: 65%;
  float: left;
  padding: 0 30px;
}

#C4_3 img {
  width: 35%;
  float: left;
  position: sticky;
  top: 0;
}

#C4_3 p {
  width: 65%;
  float: left;
  padding: 0 30px;
}

#C4_4 img {
  width: 35%;
  float: left;
  position: sticky;
  top: 0;
}

#C4_4 p {
  width: 65%;
  float: left;
  padding: 0 30px;
}

#C7 a {
  text-decoration: none;
  color: #d9d9d9;
}

#C7 a:hover {
  text-decoration: underline;
}

#WPP .corpo .men첫 {
  width: 20%;
  margin: 0;
  padding: 0 18px;
  float: left;
  position: sticky;
  top: 10%;
  height: 100%;
  font-size: 23px;
  text-decoration: none;
  color:#272624;
}

#WPP .corpo .men첫 a {
  text-decoration: none;
  color: #272624;
}

#WPP .corpo .men첫 a:hover {
  text-decoration: underline;
  color: #272624;
}

#WPP .corpo .men첫 a:visited {
  text-decoration: none;
  color: #272624;
}